.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ordersList {
  list-style-type: none;
  max-height: calc(100vh - 205px);
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.ordersList::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.ordersList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
