.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ordersList {
  list-style-type: none;
  min-height: 825px;
  max-height: 825px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

/* .ordersList_overflowY_scroll {
  overflow-y: scroll;
}

.ordersList_overflowY_hidden {
  overflow-y: hidden;
} */

.ordersList::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.ordersList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
