.section {
  max-width: 600px;
}

.positionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chosenPositionsList {
  list-style-type: none;
  max-height: 464px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.chosenPositionsList::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.chosenPositionsList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.infoGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.priceGroup {
  display: flex;
  align-items: center;
}
